@use '../styles/config' as config;

$toggle-margin: 0.5rem; // Needed to give space for the `focus-visible` border

$base-delay: 50ms;

.z-list-more {
  &__content {
    position: relative;

    &--enter {
      opacity: 0;
      transform: translateY(-0.5rem);
      animation: zListMoreFadeIn 200ms ease-out forwards;
      animation-delay: calc(var(--z-list-more-enter-index, 0) * $base-delay);
    }

    &--leave {
      animation: zListMoreFadeOut 200ms ease-in forwards;
      animation-delay: calc(var(--z-list-more-leave-index, 0) * $base-delay);
    }

    & + & {
      margin-top: var(--z-list-more-margin, config.$box-group-gap);
    }
  }

  &__toggle {
    cursor: pointer;
    width: 100%;

    margin-block: $toggle-margin;
    height: max(
      1.5rem,
      calc(var(--z-list-more-margin, config.$box-group-gap) - #{$toggle-margin * 2})
    );
    padding: 0 var(--z-list-more-toggle-indent, config.$box-padding-inline);
    border-radius: 999px;

    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;

    z-index: 99;

    transition:
      background-color 150ms ease,
      color 150ms ease;

    &:hover {
      background-color: var(--mat-sys-surface-container);
      color: var(--mat-sys-primary);
    }

    &--opened {
      color: var(--mat-sys-primary);
    }
  }

  &__chevron {
    transition: transform 300ms ease-in-out calc(var(--z-list-more-chevron-delay, 0) * $base-delay);

    &--opened {
      transform: rotateX(180deg);
    }
  }
}

@keyframes zListMoreFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zListMoreFadeOut {
  to {
    opacity: 0;
    transform: translateY(-0.5rem);
  }
}
