// CSS class used in `attach()` method of the `ZAxeOverlay` service.
.z-axe-overlay {
  z-index: 999999;
}

.z-axe-violations {
  &--hidden {
    display: none;
  }

  // CSS class used in `highlight()` method of the `ZAxeViolations` component.
  &-highlight {
    outline: 4px dashed var(--mat-sys-error) !important;
    outline-offset: -2px !important;
  }

  &__container {
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    width: 380px;
    max-width: 100%;
    max-height: 65%;
    overflow: auto;

    box-shadow: var(--mat-sys-level4);
    border-top-left-radius: 0.5rem;
    border: solid var(--mat-sys-outline-variant);
    border-width: 1px 0 0 1px;
    background-color: var(--mat-sys-surface);

    &--enter {
      animation: zAxeViolationsContainerEnter 250ms ease-out;
    }
    &--leave {
      animation: zAxeViolationsContainerLeave 250ms ease-in;
    }
  }

  &__header {
    position: sticky;
    z-index: 1;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--mat-sys-surface-container-highest);
    color: var(--mat-sys-on-surface);
    background-color: var(--mat-sys-surface-container);
  }

  &__item {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--mat-sys-surface-container-highest);
    padding-inline: 1rem;
    transition: background-color 150ms ease;

    &--active {
      background-color: var(--mat-sys-error-container);
    }

    &--no-issue {
      justify-content: flex-start;

      padding-block: 0.75rem;
      color: var(--mat-sys-on-surface-variant);
    }
  }

  &__reveal {
    flex-grow: 1;
    padding-block: 0.5rem;
    padding-right: 0.5rem;
    transition: color 150ms ease;
    cursor: zoom-in;

    &--active {
      color: var(--mat-sys-on-error-container);
      cursor: zoom-out;
    }
  }

  &__badge {
    border-radius: 99px;
    padding: 0.06rem 0.4rem;
    text-wrap: nowrap;

    background-color: var(--z-axe-violations-badge-background-color);
    color: var(--z-axe-violations-badge-color);

    &--critical {
      --z-axe-violations-badge-background-color: oklch(50.5% 0.213 27.518); // red
      --z-axe-violations-badge-color: oklch(93.6% 0.032 17.717);
    }
    &--serious {
      --z-axe-violations-badge-background-color: oklch(55.4% 0.135 66.442); // yellow
      --z-axe-violations-badge-color: oklch(97.3% 0.071 103.193);
    }
    &--moderate {
      --z-axe-violations-badge-background-color: oklch(45.7% 0.24 277.023); // indigo
      --z-axe-violations-badge-color: oklch(93% 0.034 272.788);
    }
    &--minor {
      --z-axe-violations-badge-background-color: oklch(51.1% 0.096 185.391); // teal
      --z-axe-violations-badge-color: oklch(95.3% 0.051 180.801);
    }
  }

  &__help {
    margin-block: 0.5rem;
  }

  &__impacts {
    margin-right: 3rem; // Leave space for the "trigger" button
  }

  &__trigger {
    position: fixed;
    z-index: 2;
    bottom: 0.3rem;
    right: 1rem;

    &-btn {
      transition: color 250ms ease;

      &--has-violations {
        --mat-icon-button-icon-color: var(--mat-sys-error);
      }
    }
  }
}

@keyframes zAxeViolationsContainerEnter {
  from {
    transform: translateY(100%);
  }
}
@keyframes zAxeViolationsContainerLeave {
  to {
    transform: translateY(100%);
  }
}
