.z-markdown {
  display: block;

  pre {
    position: relative;
  }

  &__copy-to-clipboard {
    position: absolute;
    top: 0.375rem;
    right: 0.375rem;

    width: 1.75rem;
    height: 1.75rem;
    text-align: center;

    border-radius: 0.375rem;
    border: 1px solid var(--mat-sys-outline-variant);
    padding: 0.125rem 0.25rem;
    color: var(--mat-sys-outline);
    opacity: 0.5;

    transition:
      background-color 150ms ease,
      color 150ms ease,
      opacity 150ms ease;

    &:hover {
      background-color: var(--mat-sys-surface);
      opacity: 1;
    }

    &:active {
      border-color: var(--mat-sys-on-primary);
      background-color: var(--mat-sys-primary);
      color: var(--mat-sys-on-primary);
    }

    svg {
      display: block;
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}
