.app-root {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
  padding: 1.5rem;

  &__nav {
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
