.z-burger {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-around;
  height: 30px;
  width: 30px;

  // Add spacing without altering the defined `height` and `width` (30px).
  box-sizing: content-box;
  padding: 0.375rem;
  border-radius: 99px;

  &__line {
    height: 3px;
    border-radius: 3px;
    background-color: var(--mat-sys-on-surface-variant);
    transform-origin: left;
    transition:
      transform 0.4s ease,
      background-color 0.4s ease,
      opacity 0.4s ease;

    &:nth-child(1) {
      transform: translateY(3px);
    }

    &:nth-child(3) {
      transform: translateY(-3px);
    }
  }

  &--active &__line {
    background-color: var(--mat-sys-primary);
  }

  &--active &__line:nth-child(1) {
    transform: translateX(4.25px) rotate(45deg);
  }

  &--active &__line:nth-child(2) {
    transform: scale(0);
    opacity: 0;
  }

  &--active &__line:nth-child(3) {
    transform: translateX(4.25px) rotate(-45deg);
  }
}
