// See https://github.com/highlightjs/highlight.js/issues/3652#issuecomment-2421439987

/*!
  Theme: MoBeigi.com
  Author: Mo Beigi
  License: See base16-schemes-source
  Maintainer: Mo Beigi
  Version: 2024.10.18

  Based on the Highlight.js Base16 template builder.
  Powered by CSS variables.

  https://github.com/highlightjs/base16-highlightjs
*/

.hljs {
  color: var(--highlightjs-base05);
  background: var(--highlightjs-base00);
}

.hljs::selection,
.hljs ::selection {
  /* ---- Original version ---- */
  // background-color: var(--highlightjs-base02);
  // color: var(--highlightjs-base05);

  /* ---- Modified version based on Angular Material design-tokens ---- */
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-secondary);
}

/* purposely do not highlight these things */
//.hljs-formula,
//.hljs-params,
//.hljs-property {}

/* base03 - Comments, Invisibles, Line Highlighting */
.hljs-comment {
  color: var(--highlightjs-base03);
}

/* base04 - Dark Foreground (Used for status bars) */
.hljs-tag {
  color: var(--highlightjs-base04);
}

/* base05 - Default Foreground, Caret, Delimiters, Operators */
.hljs-subst,
.hljs-punctuation,
.hljs-operator {
  color: var(--highlightjs-base05);
}

.hljs-operator {
  opacity: 0.7;
}

/* base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
.hljs-bullet,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-tag,
.hljs-name,
.hljs-deletion {
  color: var(--highlightjs-base08);
}

/* base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url */
.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
  color: var(--highlightjs-base09);
}

/* base0A - Classes, Markup Bold, Search Text Background */
.hljs-title,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: var(--highlightjs-base0A);
}

.hljs-strong {
  font-weight: bold;
  color: var(--highlightjs-base0A);
}

/* base0B - Strings, Inherited Class, Markup Code, Diff Inserted */
.hljs-code,
.hljs-addition,
.hljs-title.class_.inherited__,
.hljs-string {
  color: var(--highlightjs-base0B);
}

/* base0C - Support, Regular Expressions, Escape Characters, Markup Quotes */
.hljs-built_in,
.hljs-doctag,
.hljs-quote,
.hljs-keyword.hljs-atrule,
.hljs-regexp {
  color: var(--highlightjs-base0C);
}

/* base0D - Functions, Methods, Attribute IDs, Headings */
.hljs-function .hljs-title,
.hljs-attribute,
.ruby .hljs-property,
.hljs-title.function_,
.hljs-section {
  color: var(--highlightjs-base0D);
}

/* base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed */
.hljs-type,
.hljs-template-tag,
.diff .hljs-meta,
.hljs-keyword {
  color: var(--highlightjs-base0E);
}

.hljs-emphasis {
  color: var(--highlightjs-base0E);
  font-style: italic;
}

/* base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  color: var(--highlightjs-base0F);
}

.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  font-weight: bold;
}

/* Light Theme (node_modules/highlight.js/scss/base16/ia-light.scss) */
:root {
  --highlightjs-base00: #f6f6f6; /* Default Background */
  --highlightjs-base01: #dedede; /* Lighter Background */
  --highlightjs-base02: #bde5f2; /* Selection Background */
  --highlightjs-base03: #898989; /* Comments, Invisibles, Line Highlighting */
  --highlightjs-base04: #767676; /* Dark Foreground */
  --highlightjs-base05: #181818; /* Default Foreground */
  --highlightjs-base06: #e8e8e8; /* Light Foreground */
  --highlightjs-base07: #f8f8f8; /* Light Background */
  --highlightjs-base08: #9c5a02; /* Variables, XML Tags */
  --highlightjs-base09: #c43e18; /* Integers, Constants */
  --highlightjs-base0A: #c48218; /* Classes, Bold Text */
  --highlightjs-base0B: #38781c; /* Strings, Markup Code */
  --highlightjs-base0C: #2d6bb1; /* Support, Escape Characters */
  --highlightjs-base0D: #48bac2; /* Functions, Methods */
  --highlightjs-base0E: #a94598; /* Keywords, Selectors */
  --highlightjs-base0F: #8b6c37; /* Deprecated, Embedded Tags */
}

/* Dark Theme (node_modules/highlight.js/scss/base16/ia-dark.scss) */
.z-theme-dark {
  --highlightjs-base00: #1a1a1a; /* Default Background */
  --highlightjs-base01: #222222; /* Lighter Background */
  --highlightjs-base02: #1d414d; /* Selection Background */
  --highlightjs-base03: #767676; /* Comments, Invisibles, Line Highlighting */
  --highlightjs-base04: #b8b8b8; /* Dark Foreground */
  --highlightjs-base05: #cccccc; /* Default Foreground */
  --highlightjs-base06: #e8e8e8; /* Light Foreground */
  --highlightjs-base07: #f8f8f8; /* Light Background */
  --highlightjs-base08: #d88568; /* Variables, XML Tags */
  --highlightjs-base09: #d86868; /* Integers, Constants */
  --highlightjs-base0A: #b99353; /* Classes, Bold Text */
  --highlightjs-base0B: #83a471; /* Strings, Markup Code */
  --highlightjs-base0C: #7c9cae; /* Support, Escape Characters */
  --highlightjs-base0D: #8eccdd; /* Functions, Methods */
  --highlightjs-base0E: #b98eb2; /* Keywords, Selectors */
  --highlightjs-base0F: #8b6c37; /* Deprecated, Embedded Tags */
}
