.app-material-colors {
  &__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: space-between;
    align-items: center;
  }

  &__sub-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    align-items: center;

    mat-slide-toggle {
      margin-bottom: 20px; // Same as <mat-form-field> bottom space
    }
  }

  &__heading {
    margin: 0 0 0.25rem 0;
    font: var(--mat-sys-title-large);
  }

  &__content {
    margin-bottom: 1.5rem;
    border: 1px solid var(--mat-sys-outline-variant);
    border-width: 1px 0;

    display: grid;
    grid-template-columns: minmax(4rem, 50%) minmax(max-content, 50%);
  }

  &__role {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.35rem 0.7rem;
    border: 1px solid var(--mat-sys-outline-variant);
    border-width: 0 0 1px 1px;

    &--last {
      border-bottom-width: 0;
    }

    &-dim {
      color: var(--mat-sys-outline);
    }
  }

  &__code {
    font-family: 'Courier New', Courier, monospace !important;
  }

  &__empty {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font: var(--mat-sys-title-medium);
    opacity: 0.5;
  }
}
